version: "3.5"
services:
  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: nginx.Dockerfile
      cache_from:
        - nginx:1.15
    depends_on:
      - nuxt 
    ports:
      - 80:80
      - 8080:8080
    environment:
      APP_SERVER: nuxt
    volumes:
      - ./logs/nginx/:/var/log/nginx/
      # dockerfileのCMDで実行しているsedでnginxのhostを書き換えているため、マウントしない
      # - ./nginx:/etc/nginx/conf.d
  
  nuxt:
    container_name: nuxt
    build:
      context: .
      dockerfile: nuxt.Dockerfile
      cache_from:
        - node:8.12
    environment:
      NODE_ENV: development
    volumes:
      - ./:/nuxt
    ports:
      - '3000:3000'